[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = git@github.com:penryu/haskell-mode
[submodule "vendor/mo-git-blame"]
	path = vendor/mo-git-blame
	url = git@github.com:penryu/mo-git-blame.git
